name: .NET CICD

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: "8.0.x"

      - name: Restore dependencies
        run: dotnet restore RepositoryAndUnitOfWork.DataAccess/RepositoryAndUnitOfWork.DataAccess.csproj

      - name: Build Application
        run: dotnet build RepositoryAndUnitOfWork.DataAccess/RepositoryAndUnitOfWork.DataAccesscsproj --no-restore --verbosity normal

      - name: Publish Application
        run: dotnet publish RepositoryAndUnitOfWork.DataAccess/RepositoryAndUnitOfWork.DataAccess.csproj --configuration Release --no-restore --output ./publish