name: .NET CICD

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        working-directory: RepositoryAndUnitOfWorkPattern
        run: dotnet restore RepositoryAndUnitOfWork.csproj

      - name: Build Application
        working-directory: RepositoryAndUnitOfWorkPattern.Tests
        run: dotnet build RepositoryAndUnitOfWork.Tests.csproj --no-restore --verbosity normal

      - name: Publish Application
        working-directory: RepositoryAndUnitOfWorkPattern
        run: dotnet publish RepositoryAndUnitOfWork.csproj --configuration Release --no-restore --output ./publish