name: .NET CICD

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Debug paths
        run: ls -R

      - name: Restore dependencies
        run: dotnet restore RepositoryAndUnitOfWorkPattern/RepositoryAndUnitOfWork.sln

      - name: Build Application
        run: dotnet build RepositoryAndUnitOfWorkPattern/RepositoryAndUnitOfWork/RepositoryAndUnitOfWork.csproj --no-restore --verbosity normal

      - name: Publish Application
        run: dotnet publish RepositoryAndUnitOfWorkPattern/RepositoryAndUnitOfWork/RepositoryAndUnitOfWork.csproj --configuration Release --no-restore --output ./publish